.about-us-items {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-item {
    max-width: 500px;
}

.about-us-title {
    display: inline;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.23;
}

.about-us-title--light {
    color: #c78949;
}

.about-us-text--light {
    color: #c78949;
}

.about-us-text {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.55;
}

.about-us-img {
    background-image: url("/img/header-slider/1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    width: 50%;
}