.clients {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.clients-item {
    width: 50%;
    position: relative;
    padding: 0 45px 0 175px;
    margin-bottom: 60px;
}

.clients-photo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 50%;
    z-index: 3;
}

.clients-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1b1717;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.clients-prof {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #1b1717;
}

.clients-text {
    font-family: 'Roboto';
    font-size: 17px;
    color: #1b1717;
    line-height: 1.15;
}

.clients-text::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #1b1717;
    margin: 15px 0;
}