.header {
    width: 100%;
    height: 100vh;
    background-image: url("../img/header.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-cover {
    width: 100%;
    height: 100vh;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.header-top-wrap {
    display: flex;
    align-items: center;
    margin-top: 0px;
    background-color: #1b1717;
    padding: 10px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    margin-top: 0;
    z-index: 1000;
}

.header-logo {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c78949;
    text-decoration: unset;
}

.header-nav {
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

.nav-link {
    position: relative;
    margin-left: 70px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #c78949;
    text-decoration: unset;
}

.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:hover:after,
.nav-link.active:after {
    opacity: 1;
}

.nav-link.active {
    color: #fff;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 80px;
    overflow: visible;
}

.intro-title h1 {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 75px;
    color: #c78949;
    padding: 24px 0px 24px 0px;
    letter-spacing: 1px;
    line-height: 1.17;
    margin: 0;
}

.intro-subtitle h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 15px 0px 30px 0px;
    line-height: 1.55;
    text-align: center;
}

.intro-button a {
    display: inline-block;
    color: #1b1717;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: unset;
    text-transform: uppercase;
    border: 1px solid #1b1717;
    padding: 15px 50px;
    margin: 60px 0 0px 0;
    box-sizing: border-box;
    background-color: #c78949;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.intro-button a:hover {
    color: #c78949;
    background-color: #1b1717;
}