.header {
    width: 100%;
    height: 100vh;
    background-image: url("./img/header.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-cover {
    width: 100%;
    height: 100vh;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.header-top-wrap {
    display: flex;
    margin-top: 0px;
    background-color: #1b1717;
    padding: 10px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    margin-top: 0;
    z-index: 1000;
}

.header-logo {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c78949;
    text-decoration: unset;
}

.header-nav {
    align-items: center;
    align-self: center;
}

.nav-link {
    position: relative;
    margin-left: 9vw;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #c78949;
    text-decoration: unset;
}

.nav-link:hover {
    color: #fff;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 80px;
    overflow: visible;
}

.intro-title h1 {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 75px;
    color: #c78949;
    padding: 24px 0px 24px 0px;
    letter-spacing: 1px;
    line-height: 1.17;
    margin: 0;
}

.intro-subtitle h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 15px 0px 30px 0px;
    line-height: 1.55;
    text-align: center;
}

.intro-button a {
    display: inline-block;
    color: #1b1717;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: unset;
    text-transform: uppercase;
    border: 1px solid #1b1717;
    padding: 15px 50px;
    margin: 60px 0 0px 0;
    box-sizing: border-box;
    background-color: #c78949;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.intro-button a:hover {
    color: #c78949;
    background-color: #1b1717;
}