@import "./normalize.css";
@import "./header.css";
@import "./about-us.css";
@import "./works.css";
@import "./request.css";
@import "./payment.css";
@import "./clients.css";
@import "./benefit.css";
@import "./statistics.css";
@import "./footer.css";
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 40px 0;
}

.section--dark {
    background-color: #1b1717;
}

.section--light {
    background-color: #c78949;
}

.section-light-title {
    color: #c78949;
}

.section-light-subtitle {
    color: #c78949;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-light-subtitle::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #c78949;
    margin: 30px auto 30px;
}

.section-light-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c78949;
}

.section-dark-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b1717;
}

.section-dark-subtitle {
    color: #1b1717;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-dark-subtitle::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #1b1717;
    margin: 30px auto 30px;
}

.section-text-dark {
    color: #1b1717;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.section-text-light {
    color: #c78949;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.yandexmap {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}