@import "./normalize.css";
@import "./header.css";
@import "./about-us.css";
@import "./works.css";
@import "./request.css";
@import "./payment.css";
@import "./clients.css";
@import "./benefit.css";
@import "./statistics.css";
@import "./footer.css";
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 40px 0;
}

.section--dark {
    background-color: #1b1717;
}

.section--light {
    background-color: #c78949;
}

.section-light-title {
    color: #c78949;
}

.section-light-subtitle {
    color: #c78949;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-light-subtitle::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #c78949;
    margin: 30px auto 30px;
}

.section-light-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c78949;
}

.section-dark-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b1717;
}

.section-dark-subtitle {
    color: #1b1717;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-dark-subtitle::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #1b1717;
    margin: 30px auto 30px;
}

.section-text-dark {
    color: #1b1717;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.section-text-light {
    color: #c78949;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.yandexmap {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

@media (max-width: 1230px) {
    .header-top-wrap {
        padding: 20px 30px;
    }
    .nav-link {
        margin-left: 45px;
    }
    .about-us-title {
        font-size: 40px;
    }
    .text-item {
        max-width: 450px;
    }
}

@media (max-width: 990px) {
    .intro-subtitle h2 {
        padding: 0px 0px 30px 0px;
        line-height: 1.25;
    }
    .intro-title h1 {
        padding: 40px 0px 10px 0px;
        letter-spacing: 0px;
    }
    .intro-button a {
        padding: 15px 70px;
        margin: 0;
    }
    .about-us-img {
        display: none;
    }
    .text-item {
        width: 100%;
        max-width: max-content;
    }
    .about-us-items {
        padding-top: 0;
        padding-bottom: 0;
    }
    .benefit-items {
        padding: 0px 25px 0 15px;
        margin-bottom: 30px;
    }
    .benefit-icon svg {
        width: 55px;
        height: 55px;
    }
    .clients {
        width: 100%;
        margin: 15px;
    }
    .stat-count {
        font-size: 55px;
        margin: 5px;
    }
    .footer-inner {
        flex-direction: column-reverse;
    }
    .footer-colum-map iframe {
        height: 250px;
    }
    .footer-colum-card {
        padding: 15px 15px 0px 20px;
    }
    .clients button {
        display: none;
    }
    .slick-next {
        display: none;
    }
}

@media (max-width: 770px) {
    .header-nav {
        display: block;
        visibility: hidden;
        z-index: 999;
        position: fixed;
        opacity: 0;
        top: 400px;
        left: 0;
        padding-top: 100px;
        width: 100%;
        height: 101vh;
        background: rgba(0, 0, 0, 0.85);
    }
    .header-nav--opened {
        visibility: visible;
        opacity: 1;
        top: 0;
        transition: 0.3s;
    }
    .nav-link {
        display: block;
        text-align: center;
        margin: 0;
        padding: 15px 0px;
    }
    .nav-toggle {
        display: block;
        z-index: 99999;
    }
    .text-item {
        margin: 0px 15px 0px 15px;
    }
    .about-us-title {
        font-size: 45px;
    }
    .about-us-text {
        font-size: 22px;
    }
    .section-text-light {
        font-size: 25px;
    }
    .tel-input {
        width: 75%;
    }
    .name-input {
        width: 75%;
    }
    .section-text-dark {
        font-size: 22px;
    }
    .wedo {
        flex-direction: column-reverse;
    }
    .wedo-item {
        width: 100%;
        padding: 0px 15px;
    }
    .accordion {
        margin-bottom: 25px;
    }
    .accordion-title {
        font-size: 25px;
    }
    .accordion-content {
        font-size: 23px;
    }
    .benefit-items {
        width: 100%;
    }
    .benefit-title {
        font-size: 30px;
    }
    .benefit-text {
        font-size: 24px;
    }
    .benefit-icon svg {
        width: 85px;
        height: 85px;
    }
    .clients-item {
        margin-bottom: 30px;
    }
    .clients {
        display: none;
    }
    .slick-slider {
        display: none;
        margin-bottom: 30px;
    }
    .stat {
        flex-direction: column;
    }
    .stat-item {
        padding: 0px 0px 25px 0px;
    }
    .stat-count {
        font-size: 90px;
    }
    .stat-text {
        font-size: 25px;
    }
    .header-logo-footer {
        font-size: 35px;
    }
    .footer-text {
        font-size: 25px;
    }
    .footer-social-icon {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
}

@media (max-width: 575px) {
    .nav-toggle {
        display: block;
    }
    .intro-title h1 {
        font-size: 45px;
    }
    .intro-subtitle h2 {
        display: none;
    }
    .intro-button {
        margin-top: 75px;
    }
    .works {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 15vw);
        grid-gap: 12px;
    }
    .works-item--1 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .works-item--2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .works-item--3 {
        display: none;
    }
    .works-item--4 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 9;
    }
    .works-item--5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 9;
    }
    .works-item--6 {
        display: none;
    }
    .about-us-title {
        font-size: 35px;
    }
    .about-us-text {
        font-size: 17px;
    }
    .section-light-title {
        font-size: 23px;
    }
    .section-text-light {
        font-size: 16px;
    }
    .section-light-title::after {
        display: none;
    }
    /*  */
    .benefit-icon svg {
        width: 40px;
        height: 40px;
    }
    .benefit-text {
        font-size: 18px;
    }
    .tel-input {
        width: 100%;
    }
    .name-input {
        width: 100%;
    }
    .section-dark-title {
        font-size: 23px;
    }
    .section-dark-subtitle {
        font-size: 17px;
    }
    .section-text-dark {
        font-size: 16px;
    }
    .accordion-title {
        font-size: 13px;
    }
    .accordion-content {
        font-size: 20px;
    }
    .accordion-header:after {
        top: 40%;
    }
    .yandexmap {
        width: 100%;
        height: 360px;
        padding: 0;
        margin: 0;
        -ms-touch-action: auto !important;
        touch-action: auto !important;
    }
    .benefit-title {
        font-size: 20px;
    }
    .benefit-text {
        font-size: 16px;
    }
    .benefit {
        margin-top: 40px;
    }
    .stat-count {
        font-size: 60px;
    }
    .stat-text {
        font-size: 20px;
    }
    .header-logo-footer {
        font-size: 30px;
    }
    .footer-text {
        font-size: 15px;
    }
    .footer-social-icon {
        width: 35px;
        height: 35px;
    }
}