.statistics {
    background-color: #c78949;
}

.stat {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* color: #fff; */
}

.stat-item {
    flex: 0 0 20%;
    /* border-left: 1px solid #cd9862; */
    text-align: center;
    color: #1b1717;
    padding: 0px 25px 25px 0px;
    align-content: center;
}

.stat-item:last-child {
    /* border-right: 1px solid #cd9862; */
}

.stat-count {
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin: 10px;
}

.stat-text {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 30%;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #1b1717;
    border-left: 2px solid #1b1717;
}

.slick-prev {
    left: -50px;
    transform: rotate(-45deg);
}

.slick-next {
    right: 0px;
    transform: rotate(135deg);
}